* {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  line-height: calc(
    30 / 16 * 1rem + (30 - 30) *
      calc((var(--fluid-screen) - 360 / 16 * 1rem) / (1920 - 360))
  );
}

.container,
.container-scatter,
.container-comparison {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.scroll-content,
.scroll-content-scatter,
.scroll-content-comparison {
  width: 40%;
  padding: 20px;
}

.sticky-container {
  position: sticky;
  top: 0;
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#visualization,
#visualization-scatter,
#visualization-comparison {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-bottom: 80vh; /* This spaces out the cards */
  background-color: white;
  padding: 20px;
  opacity: 1;
  /* transition: opacity 0.3s; */
}

.card.active {
  opacity: 1;
  /* border: 1px solid #000; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

/* last steps no bottom margin */
.card[data-step="6"],
.card[data-step="9"],
.card[data-step="12"] {
  margin-bottom: 20vh; /* This spaces out the cards */
}
/* empty boxes, no border */
.card[data-step="7"],
.card[data-step="10"] {
  opacity: 0;
}

#visualization-scatter > figure > svg > text,
#visualization-scatter > figure > svg > g > text,
#visualization-scatter > figure > svg > g > text > tspan {
  font-size: 12px;
}

#visualization-comparison > figure > svg > text,
#visualization-comparison > figure > svg > g > text,
#visualization-comparison > figure > svg > g > text > tspan {
  font-size: 12px;
}

.tooltip {
  position: absolute;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1000;
  overflow: hidden;
}
